.container {
    width: 450px;
    height: 450px;
    margin-left: calc(50% - 225px);
    background-color: rgb(39, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell{
    width: 100px;
    height: 100px;
    background-color: rgb(73, 67, 67);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-row{
    display: flex;
}
.filled1{
    background-color: white;
    font-size: 40px;
}